<!--Arnauld Mba Kuitche-->
<div class="komponenten-main">
  <!-- Das Div beinhahlt alle Komponenten und jede Komponente die entspechenden Artikel -->
  <!-- Die Komponenten werden mit Hilfe einer schleife generiert -->
  <div class="komponanten-div" >
    <!--<div class="accordion" id="accordionExample">-->
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let kategorie of listeKategorie">
        <h2 class="accordion-header" (click)="setzeLadeMehrProdukteZurueck(kategorie)" >
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseTwo' + kategorie"  aria-expanded="false" aria-controls="flush-collapseTwo">
            <div class="item-img">
              <img src="./assets/Komponenten/{{ kategorie === 'Gehäuse' ? 'Gehaeuse' : kategorie }}.jpg" alt="">
            </div>
            {{kategorie}}
          </button>
        </h2>
        <!-- Hier wird alle Produkte einer Kategorie angezeigt. Und ein geeignetes Filter dafür -->
        <div [id]="'flush-collapseTwo' + kategorie" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div *ngIf="loading" class="loader"></div>
          <div class="accordion-body" *ngIf="!loading">
            <app-filter [filterKategorie]="kategorie" [artikelliste]="artikelliste"></app-filter>
            <!--<div *ngIf="loading" class="loader"></div>-->
            <div class="list-artikel">
              <div *ngIf="kategorie === zeigeArtikel2.kategorie">
                <div class="row  item" *ngFor="let artikelItem of zeigeArtikel2.artikelListe">
                  <div class="col-1 border justify-content-md-center">
                    <img src="https://{{ artikelItem.shop1.image }}" alt="">
                  </div>
                  <!-- Beschreibung des Artikels-->
                  <div class="col-9 artikel-info">
                    <h5 style="color: black; font-size: 14px;"> {{ artikelItem.shop2.bezeichnung }} </h5>
                    <p style="color: #052587f2;"> 
                      <span class="alternate">{{ artikelItem.shop1.shopID === 1 ? 'Alternate' : 'Future-X' }}</span> : <span class="shoppreis">{{ artikelItem.shop1.preis }} €</span>
                    </p>
                    <p style="color: #052587f2;"> <span class="futureX">{{ artikelItem.shop2.shopID === 1 ? 'Alternate' : 'Future-X' }}</span> : <span class="shoppreis">{{ artikelItem.shop2.preis }} €</span> </p>
                  </div>
                  <div class="col hunzufügenbButtonDIV">
                    <button class="hunzufügenbButton" (click)="onButtonhinzufuegen(artikelItem)">HINZUFÜGEN</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button für mehr Produkte laden -->
            <div class="d-grid gap-2 col-5 mx-auto my-auto">
              <button [hidden]="kannNochProdukteLaden" (click)="ladeProdukte(kategorie)" class="btn btn-outline-dark py-1" style="font-size: 14px;">
                Mehr Produkte laden
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Neue Konfiguration (aside)-->
  <div class="neu-konfig-div">
    <div class="container">
      <div class="container1">
        <div class="description-img">
          <h3>Neue <span>Konfiguration</span></h3>
          <img src="./assets/konfiguarion.png" alt="">
        </div>
      </div>
      <!--Button um die selektierende Artikel in übersicht zu schicken -->
      <div class="button-artikel">
        <button (click)="zurUebersicht()"> Zur Bundle-Übersicht </button>
      </div>
      <div class="artikel" *ngFor="let artikel of hinzugefuegteArtikel2">
        <div class="Beschreibung">
          <h4>{{artikel.shop2.kategorie}}: {{artikel.shop2.marke }}</h4>
          <p> {{artikel.shop2.bezeichnung}} </p>
        </div>
        <button (click)="loescheArtikel(artikel.shop1.produktUrl)" >
          <img src="./assets/trash-regular-red-24.png" alt="Delete" />
        </button>        
      </div>
      <div [hidden]="isArtikelVorhanden" class="übersichAnzahlArtikel" role="alert">
        <p>Kategorienprodukte können nicht doppelt hinzugefügt werden!</p>
      </div>
    </div>
  </div>
</div>