<div>
  <p>{{vergeicheArtikel(this.festplatteId1, this.festplatteId2)}} </p>
  <p> {{ this.sortierteArtikelListe }} </p>
</div>
<div class="komponenten-main">
  <!-- Das Div beinhahlt alle Komponenten und jede Komponente die entspechenden Artikel -->
  <!-- Die Komponenten werden mit Hilfe einer schleife generiert -->
  <div class="komponanten-div" >
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngFor="let artikel of artikelListe">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + artikel.kategorie"  aria-expanded="false" aria-controls="flush-collapseTwo">
            <div class="item-img">
              <img src="./assets/Komponenten/{{ artikel.kategorie }}.jpg" alt="">
            </div>
            {{artikel.kategorie}}
          </button>
        </h2>
        <!-- Hier wird alle Produkt einer Kategorie angezeigt. Und ein geeignetes Filter -->
        <div [id]="artikel.kategorie" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <!-- filter (Es handelt es sich um eine separat Composant)-->
            <!-- <app-filter [listKomponente]="artikelList3" [listKomponenteItem]="kategorieItem"></app-filter> -->
            <div class="list-artikel">
              <div class="row  item" *ngFor="let item of artikel.liste">
                <div class="col-1 border justify-content-md-center">
                  <img src="{{ item.image }}" alt="">
                </div>
                <!-- Beschreibung der Artikels-->
                <div class="col-9 artikel-info">
                  <h5 style="color: black; font-size: 14px;"> {{ item.marke }} </h5>
                  <p> {{ item.shopID === 1 ? 'Alternate' : 'Future-X' }} : {{ item.preis }} EUR</p>
                </div>
                <div class="col">
                  <button (click)="onButtonhinzufuegen(item)">HINZUFÜGEN</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Neue Konfiguration (aside)-->
  <div class="neu-konfig-div">
    <div class="container">
      <div class="container1">
        <div class="description-img">
          <h3>Neue <span>Konfiguration</span></h3>
          <img src="./assets/konfiguarion.png" alt="">
        </div>
      </div>
      <div class="button-artikel">
        <button><h3>Zur Übersicht</h3></button>
      </div>
      <div class="artikel" *ngFor="let artikel of hinzugefuegteArtikel">
        <h4>{{artikel.kategorie}}: {{artikel.gibArtikelTitel()}}</h4>
        <p> {{artikel.gibArtikelBeschreibung()}} </p>
      </div>
    </div>
  </div>
</div>
