<div class="komponenten-main">
  <!-- Das Div beinhahlt alle Komponenten und jede Komponente die entspechenden Artikel -->
  <!-- Die Komponenten werden mit Hilfe einer schleife generiert -->
  <div class="komponanten-div" >
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngFor="let kategorie of listeKategorie">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + kategorie"  aria-expanded="false" aria-controls="flush-collapseTwo">
            <div class="item-img">
              <img src="./assets/Komponenten/{{ kategorie }}.jpg" alt="">
            </div>
            {{kategorie}}
          </button>
        </h2>
        <!-- Hier wird alle Produkt einer Kategorie angezeigt. Und ein geeignetes Filter -->
        <div [id]="kategorie" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <!-- filter (Es handelt es sich um eine separat Composant)-->
            <!-- <app-filter [listKomponente]="artikelList3" [listKomponenteItem]="kategorieItem"></app-filter> -->
            <div class="list-artikel" *ngFor="let item of artikelliste">
              <div *ngIf="kategorie === item.kategorie">
                <div class="row  item" *ngFor="let artikelItem of item.artikelListe">
                  <div class="col-1 border justify-content-md-center">
                    <!-- <img src="{{ item.shop2.image }}" alt=""> -->
                    <img src="{{ artikelItem.shop2.image }}" alt="">
                  </div>
                  <!-- Beschreibung der Artikels-->
                  <div class="col-9 artikel-info">
                    <h5 style="color: black; font-size: 14px;"> {{ artikelItem.shop2.bezeichnung }} </h5>
                    <p> <span class="alternate">{{ artikelItem.shop1.shopID === 1 ? 'Alternate' : 'Future-X' }}</span> : <span class="shoppreis">{{ artikelItem.shop1.preis }} €</span></p>
                    <p> <span class="futureX">{{ artikelItem.shop2.shopID === 1 ? 'Alternate' : 'Future-X' }}</span> : <span class="shoppreis">{{ artikelItem.shop2.preis }} €</span> </p>
                  </div>
                  <div class="col">
                    <button (click)="onButtonhinzufuegen(artikelItem.shop1)">HINZUFÜGEN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Neue Konfiguration (aside)-->
  <div class="neu-konfig-div">
    <div class="container">
      <div class="container1">
        <div class="description-img">
          <h3>Neue <span>Konfiguration</span></h3>
          <img src="./assets/konfiguarion.png" alt="">
        </div>
      </div>
      <div class="button-artikel">
        <button><h3>Zur Übersicht</h3></button>
      </div>
      <div class="artikel" *ngFor="let artikel of hinzugefuegteArtikel">
        <h4>{{artikel.kategorie}}: {{artikel.marke }}</h4>
        <p> {{artikel.bezeichnung}} </p>
      </div>
    </div>
  </div>
</div>
