/* ------ Komponenten-list --------*/
*{
  margin: 0px;
  padding: 0px;
}

.komponenten-main{
  display: flex;
  margin-top: 28px;
}

.komponanten-div{
  flex: 0 0 auto;
  align-self: flex-start;
  margin: 0px;
  padding:0px;
  width: 63%;

}

.komponanten-div .accordion{
  margin-bottom: 18px;
}

.komponanten-div .accordion .accordion-item{
  margin-bottom: 16px;
  box-shadow: 0px 0px 15px rgba(160, 160, 160, 0.6);
  border-radius: 12px;
}

.komponanten-div .accordion-item .accordion-header{
  height: 58px;
  border: 1px solid #00528D;
  border-radius: 12px;
}

.komponanten-div .accordion-item .accordion-header .accordion-button{
  height: 100%;
  border-radius: 12px;
  padding-right: 12px;
  color: #00528D;
}

.komponanten-div .accordion-item .accordion-header .accordion-button .item-img{
  width:58px; 
  height: 100%; 
  background-color:#00528D; 
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.komponanten-div .accordion-item .accordion-header .accordion-button .item-img img{
  width: 68%;
  height: 68%;
}

/*####### LISTE ARTIKEL ########*/

.listeKomponenten{
  display: flex;
  border: 1px solid rgb(148, 148, 148);
  justify-content: space-between;
  align-items: stretch;
  border-radius: 12px;
}

.titleKomponante{
  flex: 2;
}

.titleKomponante h4{
  color: black;
  margin-top: 20px;
  size: 1px;
  font-size: 16px;
}

.pfeilKomponante{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #00528D;
  color: white;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.pfeilKomponante h4{
  margin-top: 18px;
  font-size: 18px;
}

.imgKomponante{
  width: 60px;
  height: 60px;
  margin-right: 16px;
  background-color: #00528D;
  padding: 10px 10px;
  border-radius: 12px;
}

.imgKomponante img{
  max-width: 100%;
  height: 100%;
}

/*---Aller Artikeln einer Komponente ----*/
.komponanten-div .artikl-container{
  /*border: 3px solid green;*/
  padding: 16px 0px 16px 0px;
}

.komponanten-div .accordion-body{
  padding: 8px 0px 8px 0px;
}

.komponanten-div .list-artikel .item{
  border-top: 1px solid rgb(147, 147, 147);
  padding: 8px 14px 8px 14px;
}

.komponanten-div .list-artikel .artikel-info p{
  color: rgb(47, 47, 47);
  font-size: 14px; 
  opacity: 0.9;
}

.komponanten-div .list-artikel .artikel-info h5{
  font-size: 16px; 
  font-weight: 400px;
}

.komponanten-div .list-artikel .artikel-info h6{
  font-size: 12px; 
}

/* listet alle produkte einer Kategorie auf */
.komponanten-div .list-artikel .row .col-1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  margin-right: 10px;
}
/* Bild eines Artikels */
.komponanten-div .list-artikel .row .col-1 img{
  width: 100%;
  height: 100%;
}


.komponanten-div .list-artikel .col-9 p{
  /*
  border-left: 1px solid black;
  padding-left: 4px;
  color: rgb(43, 70, 2);
  display: inline;
  */
  color: rgb(49, 49, 49);
}


/*Farbe für shop Name Alternate */
.komponanten-div .list-artikel .col-9 .alternate{
  font-weight: 500;
  font-size: 12px;
}

/*Farbe für shop Name Future-X */
.komponanten-div .list-artikel .col-9 .futureX{
  font-weight: 500;
  font-size: 12px;
}

.komponanten-div .list-artikel .col-9 .shoppreis{
  font-size: 12px;
}

/* Div button HINZUFÜGEN */
.komponanten-div .list-artikel .row .col{
  display: flex;
  align-items: center;
  justify-content: end;
}

/** button HINZUFÜGEN */
.komponanten-div .list-artikel .hinzufuegenButton{
  /*width: 80%;*/
  background-color: green;
  font-size: 10px;
  color: white;
  padding: 8px 8px;
  border-style: none;
}


.list-artikel .hunzufügenbButton{
  border: none;
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  width: 100%;
}

/* Style für NEU PC KONFIG */
.neu-konfig-div{
  width: 37%;
  margin-bottom: 32px;
}

.neu-konfig-div .container{
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(160, 160, 160, 0.6);
  width: 95%;
  margin-left: 26px;
  padding: 16px 16px 16px 16px;
}

.neu-konfig-div .container1{
  display: flex;
  justify-content: center;
}

.description-img{
  margin: 16px;
}

.neu-konfig-div .container1 h3{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 24px;
}
.neu-konfig-div .container1 h3 span{
  display: block;
}

.neu-konfig-div .container1 img{
  max-width: 120px;
}

.neu-konfig-div .container .button-artikel button{
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border-style: none;
}

.neu-konfig-div .container .button-artikel button h3{
  font-size: 16px;
}

.neu-konfig-div .container .artikel{
  margin-top: 10px;
  padding: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid black;
  display: flex;
}

.neu-konfig-div .container .artikel .Beschreibung h4{
  font-size: 16px;
}

.neu-konfig-div .container .artikel .Beschreibung p{
  font-size: 12px;
  color: rgb(54, 54, 54);
}

.neu-konfig-div .container .artikel button{
  background: transparent; border: none; padding: 0;
}

.neu-konfig-div .container .artikel button img{
  width: 30px;
  height: 30px;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}

.übersichAnzahlArtikel{
  margin-top: 10px;
}

.übersichAnzahlArtikel p{
  text-align: center;
  font-size: 13px;
  color: red;
}

/*Style für loard Button */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}