

<div class="container">
    <div class="container-form">
        <form action="">
            <div class="email">
                <label for="email">Email</label><br>
                <input type="text" name="email" id="email" placeholder=" Email Adress">
            </div>

            <div class="name">
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name" placeholder=" Name">
            </div>
            
            <div class="vorname">
                <label for="vorname">Vorname</label><br>
                <input type="text" name="vorname" id="vorname" placeholder=" Vorname">
            </div>

            <div class="passwort">
                <label for="passwort">Passwort</label><br>
                <input type="password" name="password" id="password" placeholder=" Passwort">
            </div>

            <input type="submit" value="REGISTRIEREN" style="margin-top: 16px; border-style: none; border-radius: 0px; font-size: 14px; color: white; background-color: rgb(151, 6, 6);">
            
            <div class="container-hinweis" style="text-align: center; margin-top: 8px;">
                <p style="color: rgb(166, 0, 0); margin: 8px 0px; font-style: italic; font-size: 14px;">FehlerMeldung</p>
                <p style="color: rgba(0, 0, 0, 0.615);">Haben Sie schon einen Kundenkonto?<br><span><a (click)="retrunViewAnmelden()" style="color: #00528D; cursor: pointer;"> Jetzt anmelden</a></span></p> 
            </div>
        </form>
    </div>
</div>
