<!-- Autor: Mokhtar Yosofzay -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="container-form">
                    <div class="alert alert-success" *ngIf="isLoggedIn">
                        Angemeldet als {{ roles }}.
                      </div>
                    <form
                        *ngIf="!isLoggedIn"
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate
                    >
                        <!-- E-Mail Eingabe-->
                        <div class="email">
                            <!-- Titel-->
                            <label for="email">E-Mail</label><br>
                            <input type="email" name="email" [(ngModel)]="form.email" placeholder="E-Mail Adresse" required #email="ngModel">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                            E-Mail Adresse ist erforderlich
                        </div>
                        <div class="passwort">
                            <!-- Titel-->
                            <label for="password">Passwort</label><br>
                            <!--Eingabefeld für das Passwort-->
                            <input type="password" name="password" [(ngModel)]="form.password" placeholder="Passwort" required minlength="5" #password="ngModel">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">Password ist erforderlich</div>
                            <div *ngIf="password.errors['minlength']">
                                Das Passwort muss mindestens 5 Zeichen lang sein
                            </div>
                        </div>
                        <!-- Anmeldebutton-->
                        <button class="btn btn-primary w-100">
                            Anmelden
                        </button>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            Login fehlgeschlagen: {{errorMessage}}
                        </div>
                        <!--Problembehandlung bei Anmeldung-->
                        <div class="container-hinweis" style="text-align: center; margin-top: 8px;">
                            <!-- Bei Passwortverlust neues Passwort anfordern-->
                            <p>Passwort vergessen? <span><a style="color: #00528D;">Neues Passwort anfordern</a></span></p>
                            <!-- Registriermöglichkeit-->
                            <p>Kein Kundenkonto? <span><a (click)="returnViewRegistrieren()" style="color: #00528D; cursor: pointer;">Jetzt registrieren</a></span></p> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
