.containerAdmin{
    margin-top: 20px;
    width:100%;
    max-width: 1000px;
    /**border: 2px solid red;*/
}

.tabellenueberschrift p{
    font-weight: bold;
    text-align: left;
    padding-left: 8%;
    font-size: 20px;
}

.tabellenueberschrift{
    padding: 5px;
    height: 40px;
    background-color: #00528dd7;
    color: white;
    
}

.userContainer {
    height: 60px;
    padding: 5px;
    text-align: right;
    background-color: #ffffff63;
    
}

.user ul{
    list-style-type: none;
    display: inline;
    /**border: 1px solid red;*/
}

.user ul li{
    list-style-type: none;
    display: inline;
}

.user{
    padding-right: 25px;
}

.user ul button{
    width: 80px;
    color: white;
    height: 25px;
    font-size: 13px;
}

.center{
    justify-content: center;
}

#bearbeiten{
    background-color: rgb(74, 104, 6);
    margin-right: 20px;
}

#loeschen{
    background-color: red;
    margin-right: 20px;
}




