<h2 class="text-center" style="padding-top: 30px;">SYSTEMADMINISTRATOR</h2>
<div class="center">
    <div class="suche">
        <input type="email" id="suche" placeholder="Nutzer suchen" #emailInput>
    </div>
    <div class="containerAdmin">
        <div class="tabellenueberschrift">
            <p>E-Mail</p>
        </div>

        <div class="userContainer">
            <div class="user">
                <ul style="margin-top: 8px; display: flex; justify-content: space-between;">
                    <li style="width: 40%; text-align: start;">maxmustermann@gmail.com</li>
                    <li style="width: 50%; ">
                        <ul>
                            <button type ="submit" id="bearbeiten" style="background-color: rgb(74, 104, 6); margin-right: 20px;">Bearbeiten</button>
                            <button type="submit" id="loeschen" style="background-color: red;">Löschen</button>
                        </ul>
                    </li>
                </ul>
                <ul style="margin-top: 8px; display: flex; justify-content: space-between;">
                    <li style="width: 40%; text-align: start;">test@test.de</li>
                    <li style="width: 50%; ">
                        <ul>
                            <button type ="submit" id="bearbeiten" style="background-color: rgb(74, 104, 6); margin-right: 20px;">Bearbeiten</button>
                            <button type="submit" id="loeschen" style="background-color: red;">Löschen</button>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</div>


