<!-- Navigation bar -->
<nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" rorouterLink="/konfiguration">Bundler Checker</a>
        <ul class="nav justify-content-end ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/konfiguration">PC-Konfiguration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/merkzettel">Merkzettel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/kontakt">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Konto">Konto</a>
            </li>
        </ul>
    </div>    
</nav>

<div class="router-oulet-main">
    <router-outlet></router-outlet>
</div>


<footer>
    <div class="footer-div">
        <ul>
            <li>© BundleChecker</li>
            <li>Über uns</li>
            <li>Datenschutz</li>
            <li>Impressum / AGB</li>
        </ul>
    </div>
</footer>


