/* ------------ NAVIGATION BAR --------------*/
.navbar .container-fluid .nav .dropdown a{
    border: none;
}
.navbar .container-fluid .nav .dropdown .dropdown-menu li a{
    color: #00528D;
}

footer{
    background-color: #00528D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh; /* passt die Höhe des Containers bei Bedarf an*/
}

footer .footer-div ul{
    list-style: none; 
    display: flex; /* Zeigt die Elemente auf eine Zeile an */
    justify-content: center;
    margin: auto 0px;
    gap: 18px; /* Fügt auf Wunsch einen Abstand zwischen den Elementen ein */
}

footer .footer-div ul li a{
    text-decoration: none;
    font-size: 16px;
    padding: auto;
    color: rgb(255, 255, 255);
}

footer .footer-div ul .copywrite{
    font-size: 14px;
    margin: auto 0px;
    color: white;
}