/* ------------ NAVIGATION BAR --------------*/
.navbar .container-fluid .nav .dropdown a{
    border: none;
}
.navbar .container-fluid .nav .dropdown .dropdown-menu li a{
    color: #00528D;
}


footer{
    background-color: #00528D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh; /* passt die Höhe des Containers bei Bedarf an*/
}

footer .footer-div ul{
    list-style: none; 
    display: flex; /* Zeigt die Elemente auf eine Zeile an */
    gap: 18px; /* Fügt auf Wunsch einen Abstand zwischen den Elementen ein */
}

footer .footer-div ul li{
    font-size: 10px;
    color: rgb(255, 255, 255);
}