<!-- Navigation bar -->
<nav class="navbar ">
    <div class="container-fluid">
        <h1><a style="text-decoration: none; " routerLink="/konfiguration">Bundler Checker</a></h1>
        <ul class="nav nav-pills justify-content-end" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a  class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" routerLink="/konfiguration">PC-Konfiguration</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profil" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/merkzettel">Merkzettel</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" routerLink="/kontakt">Kontakt</a>
            </li>
            <li class="nav-item" role="presentation" *ngIf="showAdminBoard">
                <a class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" routerLink="/admin">Benutzerkonten</a>
            </li>
            <li class="nav-item" role="presentation">
                <div class="dropdown " id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span *ngIf="!isLoggedIn">Anmelden</span>
                        <span *ngIf="isLoggedIn">Konto</span>
                    </a>
                    <ul class="dropdown-menu" *ngIf="!isLoggedIn">
                        <li><a class="dropdown-item" routerLink="konto">Anmelden</a></li>
                        <li><a class="dropdown-item" routerLink="konto/registrieren">Registrieren</a></li>
                    </ul>
                    <ul class="dropdown-menu" *ngIf="isLoggedIn">
                        <li><a class="dropdown-item" routerLink="konto/meinkonto">Mein Konto</a></li>
                        <li><a class="dropdown-item" role="button" (click)="logout()">Abmelden</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>    
</nav>

<div class="router-oulet-main">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="footer-div">
        <ul>
            <li class="copywrite">© BundleChecker</li>
            <li> <a routerLink="/ueber-uns">Über uns</a> </li>
            <li> <a routerLink="/datenschutz">Datenschutz</a> </li>
            <li> <a routerLink="/datenschutz">Impressum / AGB</a> </li>
        </ul>
    </div>
</footer>


