<h2 class="text-center">PC KONFIGURATION</h2>

<div class="container border">
    <div class="d-flex">
        <div class="p-2 me-2 flex-fill text-center border rounded-4 custom-bg-color" (click)="chargerComposant('ListKomponenteComponent')" >Komponanten</div>
        <div class="p-2 ms-2 flex-fill text-center border rounded-4 custom-bg-color" (click)="chargerComposant('UebersichtComponent')" >Übersicht</div>
    </div>

    <div class="container mt-3">
        <app-uebersicht></app-uebersicht>
    </div>
</div>
