<div class="dropDownMenu">
  <div class="item">
    <!-- Item-Title (Dropdown Menu)-->
    <div class="itemDropDrownTitle">
      <div class="itemImg"> <img src="./assets/Komponenten/RAM.jpg" alt=""> </div>
      <div class="itemTitle"><h3>CPU</h3></div>
      <div class="itemPfeil">v</div>
    </div>
    <!-- Item Inhalt -->
    <div class="itemInhlatList">
      <div class="itemInhalt">
        <div class="itemFilter"></div>
        <div class="itemProdukt">
          <div class="produktImg"><h4>CPU</h4></div>
          <div class="produktBescheibung">
            <h5>CPU</h5>
            <p>AMD Ryzen 7 800X, Prozessor</p>
            <p>Zusätlische Infos</p>
          </div>
          <div class="produktButtonAuswahl"><button>HINZUFÜGEN</button></div>
        </div>
      </div>
    </div>
  </div>
</div>