*{
    margin: 0px;
    padding: 0px;
}
/* ############# STYLE ITEM(Komponente) ############## */
/* STYLE ITEM DROPDOWN MENU ÜBERSCHRIFT */
.dropDownMenu{
    padding: 4px;
}

.dropDownMenu .item{
    margin: 16px 0px;
    box-shadow: 0px 0px 15px rgba(160, 160, 160, 0.6);
    border-radius: 12px;
}

.dropDownMenu .item .itemDropDrownTitle{ 
    border: 1px solid #00528D;
    display: flex;
    border-radius: 12px;
}

.dropDownMenu .item .itemDropDrownTitle .itemImg{ 
    width: 68px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00528D;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
}

.dropDownMenu .item .itemDropDrownTitle .itemImg img{ 
    width: 70%;
    height: 70%;
    object-fit: cover; 
}

.dropDownMenu .item .itemDropDrownTitle .itemTitle{ 
    width: 100%;
    display: flex;
    align-items: center;
}

.dropDownMenu .item .itemDropDrownTitle .itemTitle h3{ 
    margin: 4px;
}

.dropDownMenu .item .itemDropDrownTitle .itemPfeil{ 
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* STYLE ITEM DROPDOWN MENU Inhalt */
.dropDownMenu .itemInhlatList{
    margin: 8px 0px;
}

.dropDownMenu .itemInhlatList .itemInhalt{
    border-top:1px solid black;
    padding: 8px 16px;
}

.dropDownMenu .itemInhalt .itemProdukt{
    display: flex;
    width: 100%;
}

.dropDownMenu .itemInhalt .itemProdukt .produktImg{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.dropDownMenu .itemInhalt .itemProdukt .produktImg h4{
    color: white;
    font-size: 14px;
}


.dropDownMenu .itemInhalt .itemProdukt .produktBescheibung{
    margin: 0px 8px;
    flex: 1;
}

.dropDownMenu .itemInhalt .itemProdukt .produktBescheibung h5{
    font-size: 16px;
}

.dropDownMenu .itemInhalt .itemProdukt .produktBescheibung p{
    font-size: 12px;
    color: #515151;
}

.dropDownMenu .itemInhalt .itemProdukt .produktButtonAuswahl{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDownMenu .itemInhalt .itemProdukt .produktButtonAuswahl button{
    font-size: 12px;
    background-color: green;
    color: white;
    padding: 4px 6px;
    border: none;
}