<h2 style="margin-top: 30px" class="text-center">KONTAKT</h2><br><br>
<!-- Zusätzliche Klasse, um das erstellte Feld zu zentrieren -->
<div class="kontakt">
    <!-- Container welcher die Inhalte umfasst(mit Border) -->
    <div class="containerAussen">
        <!-- Innerer Container für die drei Attribute (Name, Vorname, Email) -->
        <div class="container">
             <!-- Innerer Container links für Name und Email -->
            <div class="containerLinks" style= "width: 50%; ">
                <p>Name:</p>
                <!-- Textfeld mit Platzhalter -->
                <input type="text" style="width: 95%" placeholder="Mustermann"><br><br>
                <p>E-Mail:</p>
                <!-- Textfeld mit Platzhalter -->
                <input type="text" style="width: 95%" placeholder="maxmustermann@gmail.com"><br><br>
            </div>
            <!-- Innerer Container rechts für Vorname -->
            <div class="containerRechts" style="width: 50%;">
                <p>Vorname:</p>
                <input type="text" style="width: 100%" placeholder="Max"><br><br>
            </div>
        </div>
        <div class="nachricht">
            <p style="font-weight: bold"> Nachricht:</p>
            <!-- Textfeld für die Nachricht -->
            <input type="text" style="width: 100%; height: 400px">
        </div>
        <!-- Button, um eingebene Daten abzuschicken -->
        <button style="margin-top: 30px;">Abschicken</button>
    <div>
</div>
