<h2 style="margin-top: 30px" class="text-center">KONTAKT</h2><br><br>
<div class="kontakt">
    <div class="containerAussen">
        <div class="container">
            <div class="containerLinks" style= "width: 50%; ">
                <p>Name:</p>
                <input type="text" style="width: 95%" placeholder="Mustermann"><br><br>
                <p>E-Mail:</p>
                <input type="text" style="width: 95%" placeholder="maxmustermann@gmail.com"><br><br>
            </div>
            <div class="containerRechts" style="width: 50%;">
                <p>Vorname:</p>
                <input type="text" style="width: 100%" placeholder="Max"><br><br>
            </div>
            
        </div>
        <div class="nachricht">
            <p style="font-weight: bold"> Nachricht:</p>
            <input type="text" style="width: 100%; height: 400px">
        </div>
        <button style="margin-top: 30px;">Abschicken</button>
    <div>
</div>
