/*
Autor: Mokhtar Yosofzay
 */

/* Zentrierung des gesamten Feldes */
.kontakt {
    display: flex;
    justify-content: center;
}

/* alert box */
.alert {
    padding: 5px;
    background-color: #f44336; /* Red */
    color: white;
    margin-top: 5px;
    display: inline-block;
}
.alert.alert-success {
    background-color: #4CAF50; /* Green */
}

input:has(+ .alert-danger),
textarea:has(+ .alert-danger) {
    border: 2px solid red;
}

/* Formular-Elemente */
label {
    display: block;
    font-weight: bold;
}
textarea,
input {
    width: 100%;
}

/* Formular-Footer */
.kontakt-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        "kontakt-footer-col-left kontakt-footer-col-right"
        "kontakt-footer-message kontakt-footer-message";
}
.kontakt-footer-container .kontakt-footer-col-left {
    grid-area: kontakt-footer-col-left;
}
.kontakt-footer-container .kontakt-footer-col-right {
    grid-area: kontakt-footer-col-right;
}
.kontakt-footer-container .kontakt-footer-message {
    grid-area: kontakt-footer-message;
}

/* Formatierung des Buttons */
.kontakt-submit {
    width: 100px;
    height: 40px;
    font-weight: bold;
    background-color: #00528D;
    color: #fff;
    border: none; /* Keine Border */
    box-shadow: 5px 5px 8px rgba(81, 124, 202, 0.6);
    float: right;
}
