*{
    margin: 0px;
    padding: 0px;
}

.kontakt{
    display: flex;
    justify-content: center;
}



.container{
    display: flex;
    justify-content: center;
    width: 800px; 
    height: 120px; 
    margin-bottom: 40px; 
}

.containerAussen{
    border: 2px solid #00528d65;
    box-shadow: 0px 0px 15px rgba(160, 160, 160, 0.6);
    border-radius: 12px;
    display: inline-block;
    justify-content: center; 
    padding: 16px;
    margin-bottom: 80px;
}

.container p{
    margin-bottom: 4px;
    font-weight: bold;
}

.containerAussen button{
    width: 100px;
    height: 40px;
    font-weight: bold;
    background-color: #00528D;
    color: #fff;
    border: none; /* Keine Border */
    box-shadow: 5px 5px 8px rgba(81, 124, 202, 0.6);
    float: right;
}




