<h2>Merkzettel</h2>
<ul>
  <li *ngFor="let artikel of merkzettelArtikel">
    <div class="artikel-info">
      <span class="artikel-kategorie">Kategorie: {{ artikel.kategorie }}</span>
      <span class="artikel-preis">Preis: {{ artikel.preis }} €</span>
      <span class="artikel-produktlink">Produkt-Link: {{ artikel.produktUrl }}</span>
      <!--<span class="artikel-spezifisch">{{ artikel.getSpezifischeAttribute() }}</span>-->
      <button (click)="removeItemFromMerkzettel(artikel)">Entfernen</button>
    </div>
  </li>
</ul>
