        <div class="container-bundler">
      <div class="container-bundle">
        <h3>Bundle 1:</h3>
        <ul>
          <li *ngFor="let bundle of bundles">
            <h4>{{ bundle.anbieter }}</h4>
            <ul>
              <li *ngFor="let artikel of bundle.artikelList">
                <div class="artikel-info">
                  <span class="artikel-kategorie">Kategorie: {{ artikel.kategorie }}</span>
                  <span class="artikel-preis">Preis: {{ artikel.preis }} €</span>
                  <span class="artikel-produktlink">Produkt-Link: {{ artikel.produktLink }}</span>
                  <span class="artikel-spezifisch">{{ artikel.getSpezifischeAttribute() }}</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    

