      <!--Yahya: Bundle Nr.1 gibt eine Darstellung vom Bundle mit den günstigsten Komponenten. Alle Produkten werden hier betrachten-->
      <!--Günstigster Bundle-->    
      <div class="container-bundler">
        <div class="container-bundle">
          <h3 class="bundleName">Günstigstes Bundle:</h3>
          <ul>
            <ng-container *ngFor="let bundle of bundles; let bundleIndex = index">
              <li>
                <ul>
                  <ng-container *ngFor="let anbieter of getUniqueAnbieter(bundle.artikelList)">
                    <li>
                      <h4>{{ anbieter }}</h4>
                      <ul>
                        <li *ngFor="let artikel of bundle.artikelList; let artikelIndex = index">
                          <div class="artikel-info" *ngIf="artikel.anbieter === anbieter">
                            <span class="artikel-kategorie">Kategorie: {{ artikel.kategorie }}</span>
                            <span class="artikel-spezifisch">{{ artikel.getSpezifischeAttribute() }}</span>
                            <span class="artikel-preis">Preis: {{ calculateArticlePrice(artikel) }} €</span>
                            <button class="link-button" (click)="openProductLink(artikel.produktLink)">Produkt ansehen</button>
                            <div>
                              <label for="quantity{{ bundleIndex }}_{{ artikelIndex }}">Menge:</label>
                              <!--Wichtig: mit min=0 wird die Artikelmenge bei 0 sein und somit der Artikepreis auch bei 0€-->
                              <input class="artikelmenge" type="number" id="quantity{{ bundleIndex }}_{{ artikelIndex }}" [min]="1" [(ngModel)]="bundle.artikelList[artikelIndex].menge" (ngModelChange)="onMengeChange(bundleIndex, artikelIndex, $event)">
                              <button class="delete-button" (click)="deleteArticle(bundle, artikel)">Löschen</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <!--die css Klasse muss noch geändert werden-->
                      <div class="total-price-products">
                        Gesamtpreis bei {{ anbieter }}: {{ calculateAnbieterTotalPrice(bundle.artikelList, anbieter) }} €
                      </div>
                    </li>
                  </ng-container>
                </ul>
                <div class="total-price-bundle">
                  Gesamtpreis des Bundles: {{ calculateBundleTotalPrice(bundles) }} €
                </div>                
              </li>
            </ng-container>
          </ul>
        </div>
        
        
        
        
        
        
      
      
      

    <!--Yahya: Bundle Nr 2. Dies ist nur ein Bsp. Die Implementierung muss noch angepasst werden.-->
    <!--Bundle mit schnellster Lieferzeit-->

      </div>