
/* -------- NAV STYLE --------------*/
.container-fluid {
    background-color: #00528D;
    padding-left: 100px;
    padding-right: 100px; 
}

nav .container-fluid a{
    color: white;
}

/* --------- KOMPONENTEN ------------*/
h2{
    margin-top: 16px;
    font-size: 18px;
}
